.App {
  text-align: center;
  color: #F1F2EF;
  min-height: 100vh;
  background-color: #13283b;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
  font-weight:900;
  font-size: 6em;
  min-height: 30vh;
}

.transparentInput{
  border-color: #6796af !important;
  outline: none;
  background: transparent !important;
  text-align: center;
  background-color: transparent !important;
  color: #F1F2EF !important;
}

.marginado{
  font-size: 1.5em !important;
}

.Mine{
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
}

.splashSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
  min-height: 30vh;
}


@media only screen and (max-width: 666px) {
  .App{
    font-size: 60% !important;
    display: flex;
    flex-direction: column;
  }
  .splashSection{
    flex-direction: column;
  }
  .Mine{
    font-size: x-large;
  }
}

